<header class="masthead text-center text-white header-bg-fx mb-5">
  <div class="masthead-content">
    <div class="container px-5 ">
      <h1>Détails du produit</h1>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<div class="product-details-section">
  <img src="<%= url_for(@item.photo) %>" 
                alt="img cat" class="product-details-img">
  <div class="product-details-text">
    <h1 class=""><%= @item.title %></h1>
    <p> Description : <%= @item.description %></p>
    <p> Prix : <%= @item.price %>€</p>
    <% if current_user.nil?%>
      <%= button_to 'Ajouter au panier', carts_path, params: {item_id: @item.id} ,method: :post, class: "show-button" %>
    <%else%>
      <%= button_to 'Ajouter au panier', carts_path, remote: true, params: {item_id: @item.id} ,method: :post, class: "show-button" %>
    <%end%>
  </div>
</div>
