<h1><%= @item.title %></h1>
<div class="">
  <div class="">
    <h2 class=""><%= @item.title %></h2>
    <p> Description : <%= @item.description %></p>
    <p> Prix : <%= @item.price %>€</p>
    <img src="<%= item.img_url %>" 
                alt="img cat" class="" style="width: 150px;">
  </div>
</div>
