<!DOCTYPE html>
<html>
  <head>
    <title>PixelCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/44e2fc3e22.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer class="py-5">
      <div class="footer-links">
          <div class="col-footer-1">
              <h4 class="text-white">PIXEL CAT <i id="paw" class="fa-solid fa-paw"></i></h4>
              <span class="text-white">Un site internet chat-leureux</span>
          </div>
          <div class="col-footer-2">
              <p>LE CHAT DU MOIS</p>
              <p>PRE-VENTE</p>
              <p>COMMANDER UN BOOK</p>
          </div>
          <div class="col-footer-3">
              <p>SUPPORT</p>
              <p>RETOURS</p>
              <p>DELAIS DE LIVRAISON</p>
          </div>
          <div class="col-footer-4">
              <p>A PROPOS</p>
              <p>CONTACT</p>
              <p>CONDITIONS GENERALES</p>
          </div>
      </div>
      <div class="footer-copyright">
        <hr>
        <div class="container px-5"><p class="mt-5 m-0 text-center text-white small">Copyright © Pixel Cat 2022</p></div>
            <div class="socials">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-google-plus-g"></i>
            </div>
      </div>
  </footer>
</html>
