<!DOCTYPE html>
<html>
  <head>
    <title>PixelCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/44e2fc3e22.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
  
</html>
